@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@layer base {
  .roll-in-top {
    -webkit-animation: roll-in-top 3s ease-out 0.2s infinite;
    animation: roll-in-top 3s ease-out 0.2s infinite;
  }

  @-webkit-keyframes roll-in-top {
    0% {
      -webkit-transform: translateY(-530px) rotate(-340deg);
      transform: translateY(-530px) rotate(-340deg);
      opacity: 0;
    }
    20% {
      opacity: 0.8;
    }
    100% {
      -webkit-transform: translateY(0) rotate(0deg);
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-top {
    0% {
      -webkit-transform: translateY(-530px) rotate(-340deg);
      transform: translateY(-530px) rotate(-340deg);
      opacity: 0;
    }
    20% {
      opacity: 0.8;
    }
    100% {
      -webkit-transform: translateY(0) rotate(0deg);
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
  .roll-in-top-2 {
    -webkit-animation: roll-in-top-2 5s ease-out 0.8s infinite;
    animation: roll-in-top-2 3s ease-out 0.8s infinite;
  }
  @-webkit-keyframes roll-in-top-2 {
    0% {
      -webkit-transform: translateY(530px) rotate(-540deg);
      transform: translateY(-530px) rotate(-540deg);
      opacity: 0;
    }
    20% {
      opacity: 0.8;
    }
    100% {
      -webkit-transform: translateY(0) rotate(0deg);
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-top-2 {
    0% {
      -webkit-transform: translateY(530px) rotate(-540deg);
      transform: translateY(-530px) rotate(-540deg);
      opacity: 0;
    }
    20% {
      opacity: 0.8;
    }
    100% {
      -webkit-transform: translateY(0) rotate(0deg);
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }

  html {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    @apply text-3xl;
    @apply font-bold;
  }
  h2 {
    @apply text-2xl;
    @apply font-bold;
  }
  h3 {
    @apply text-xl;
    @apply font-bold;
  }
}
