---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Formular from '../components/Formular.astro';
---


<MainLayout title="Titel">

  <!-- Hero Unit -->
  <section id="forside" class="mb-6">
    <div class="flex items-left justify-between">
        <img src="/src/assets/images/folk.png" alt="mennesker" class="w-[50%]">
        <h1 class="text-4xl font-semibold uppercase text-right text-customGray">Digital <br> Detox <br> 2025</h1>
    </div>
    <h2 class="font-regular text-left text-customBlue mt-20">Registrér din digitale oprydning</h2>

    <p class="">Digitalt affald omfatter unødvendige e-mails, filer, apps og dubletter af fotos og videoer, som belaster den digitale verden. <br>
<br> Ifølge Det Internationale Energiagentur kan lagring af 4 GB data på servere i et år forbruge 2 kWh energi og udlede 1 kg CO2, hvilket viser den miljømæssige påvirkning af digitalt affald.</p>
</section>

  <div class="flex items-left justify-left">
    <img
        src="/src/assets/images/datobjaelke.png"
        alt="Pixels"
        class="h-auto max-w-xs transition-transform duration-500"
    />
</div>

  <!-- <section class="">
    <Button>Del dine resultater</Button>
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
  </section> -->



  
</MainLayout>

<Formular></Formular>

