---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import '../styles/tailwind.css';
import 'animate.css';
---

<header>
    <Header></Header>
</header>

<!-- Hero Unit -->
<section class="bg-customGray text-customBlue grid grid-cols-1 md:grid-cols-2">
    <!-- Pixels til venstre -->
    <div class="flex items-center justify-start order-1 md:order-1">
        <img
            src="/src/assets/images/pixels.png"
            alt="Pixels"
            class="w-3/4 md:w-2/3 h-auto max-w-xs transition-transform duration-500"
        />
    </div>

    <!-- Tekst til højre -->
    <div class="flex flex-col justify-left p-8 order-2 md:order-2">
        <h1 class="text-4xl text-customBlue bg-customGray font-semibold uppercase pb-8 mt-20">
            Ressourcer og materialer
        </h1>
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Retningslinjer for enkeltpersoner</a>  
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Retningslinjer for virksomheder</a>  
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Retningslinjer for skoler</a>  
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Retningslinjer for kommuner</a>  
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Sådan rydder du op på din computer og Drive</a>  
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Sådan rydder du op i dine e-mails</a>  
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Sådan rydder du op på din smartphone og tablet</a>  
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Deltagerdataindsamling 1</a>  
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Deltagerdataindsamling 2</a>  
        <a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank" class="text-customPink underline mb-4 font-semibold">Markedsføringsmateriale</a>  
    </div>
</section>

<footer>
    <Footer></Footer>
</footer>


