---
---
<div>
    <button type="button" class="bg-customPink text-customBlue shadow-white-glow font-semibold text-1xl px-8 py-2 p-6 hover:bg-customGray mt-10 border-2 border-customPink uppercase"><slot /></button>
</div>