---
import Link from "../components/Link.astro";
---

<div class="bg-#07293D p-8 flex flex-row justify-between">
  <p>billede</p>
  <div class="flex flex-col">
    <p>Let's Do It World NGO</p>
    <p>
      Roosikrantsi 3<br />TALLINN 10119, Estonia <br /> Reg. code - 80562203 digital@ldiw.org
    </p>
  </div>
  <div>
    <Link />
    <Link />
    <Link />
    <Link />
  </div>
</div>
