---
import Link from '../components/Link.astro'
import { Image } from 'astro:assets';
import whitelogo from "../assets/images/white_logo.png";
---


<div>
    <div x-data="{ showmenu: false }" class="  lg:static w-full bg-[#052F45] text-[#F7F7F7]" >
        <div id="navbar" class=" p-4 py-7 flex flex-row justify-between">
        <div id="logo" class="">
        <a href="#">
            <img src="../assets/images/white_logo.png" alt="logo">
        </a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block font-semibold text-sm">
        <ul class="flex flex-row gap-8">
        <li class=""> <a href="/">SÅDAN DELTAGER DU</a></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
        <li class=""><a href="/formular">REGISTRER DIT BIDRAG</a></li>
        <li class=""><a href="/ressourcer" >RESSOURCER</a></li>
        <li class=""><a href="#" >LÆRINGSCENTER</a></li>
        <li class=""><a href="#" >WORLD CLEANING DAY</a></li>
        </ul>
        </nav>
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">Menu</button>
        </div>
        <nav id="mobilmenu" class="flex flex-col content-center pt-4  text-[#052F45] bg-[#F7F7F7] " 
        x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul >
        <img src="/assets/images/bluepixels-right.svg" alt="pixels">
        <li class="p-4 border-b-2"><a href="/">SÅDAN DELTAGER DU</a></li>
        <li class="p-4  border-b-2"><a href="/formular">REGISTRER DIT BIDRAG</a></li>
        <li class="p-4  border-b-2"><a href="/ressourcer" >RESSOURCER</a></li>
        <li class="p-4 border-b-2"><a href="#" >LÆRINGSCENTER</a></li>
        <li class="p-4 border-b-2"><a href="#" >WORLD CLEANING DAY</a></li>
        
        </ul>
        </nav>
        </div>
</div>

